cattle==0.5.4
git+https://github.com/rancher/gdapi-python.git@31d74507d96c8f053a08bda129cc63f96ca60161
websocket-client==1.9.0
PyJWT==2.13.0

flake8==7.3.0
pytest==9.0.3
pytest-repeat==0.9.4
pytest-xdist==3.8.0
pyyaml==6.0.3
netaddr==1.3.0
requests==2.33.1
